[Unit]
Description=Sensor Daemon

[Service]
Restart=always
RestartSec=5
WorkingDirectory=/opt
ExecStart=/opt/sensord_venv/bin/python -m sensord.reader "%i"

[Install]
WantedBy=multi-user.target
