[Unit]
Description=Sensor Log Writer

[Service]
Restart=always
RestartSec=5
WorkingDirectory=/opt
ExecStart=/opt/sensord_venv/bin/python -m sensord.logger

[Install]
WantedBy=multi-user.target
