[Unit]
Description=rtl_fm and socat

[Service]
; 30 second timeout
; 2000 maximum payload size (max supported by direwolf)
Restart=always
RestartSec=5
ExecStart=socat -T10 -b2000 EXEC:"rtl_fm -f 144.39M" UDP4:localhost:7355

[Install]
WantedBy=multi-user.target
