; {{ ansible_managed }}
trace_output protocol
listener 1883
{% if 'groundstation' in group_names %}
listener 10883 10.82.104.2 mqtts
{% else %}
connection CentralBridge
addresses 10.82.104.2:10883
protocol mqtts
; topic # out "rocket/{{ inventory_hostname }}" remote/
topic # out
{% endif %}
